.logoImg {
  background: #6fa0c3;

  width: 50px;
}
.notification {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #575757;
  border: 3px solid rgb(0, 0, 0);

  color: white;
  padding: 10px 20px;
  width: fit-content;
}
